.container{
  padding: 20px;
}

.form-inline{
  input{
    display: inline-block;
    width: auto;
    margin: 5px;
  }
}

.app{
  div{
    margin: 50px 0px;
  }
}

.counter-component{
  button{
    margin: 0px 5px;
  }
}
